*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.navigation ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #0aa9b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px ;
    font-weight: 700;
}

.navigation li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}